<div class="row-fluid">
    <div class="tree">
        <div class="topcorner">
            <a [hidden]="!canEdit" [routerLink]="['/editWeek', projectId, 0]">
                <div class="label label-primary">
                    <span class="mega-octicon octicon-plus"></span>
                </div>
            </a>
        </div>
        <ul>
            <li *ngFor="let week of weeks">
                <span (click)="userExpandWeek(week.id)" class="sp"><i class="octicon octicon-calendar"></i> {{week.year}}, uge {{week.weekNo}}</span>
                <div [hidden]="!canEdit">
                    <a [routerLink]="['/addDutyWeek', projectId, week.id]">
                        <spn class="label label-success">
                            <spn class="octicon octicon-plus"></spn>
                        </spn>
                    </a>
                    <a [routerLink]="['/editWeek', projectId, week.id]">
                        <spn class="label label-primary">
                            <spn class="octicon octicon-pencil"></spn>
                        </spn>
                    </a>
                    <a (click)="delete(week.id)" href="javascript:;">
                        <spn class="label label-danger">
                            <spn class="octicon octicon-x"></spn>
                        </spn>
                    </a>
                </div>
                <ul [hidden]="!week.expanded">
                    <li *ngFor="let day of week.days">
                        <span (click)="userExpandDay(day.id)" class="label sp label-{{day.color()}}"><i [hidden]="day.expanded" class="octicon octicon-plus" ></i> <i [hidden]="!day.expanded" class="octicon octicon-dash"></i> {{day.weekDay}}, {{day.date}}</span>
                        <div>
                            <a [hidden]="!canEdit" [routerLink]="['/addDuty', projectId, day.id]">
                                <spn class="label label-primary">
                                    <spn class="octicon octicon-plus"></spn>
                                </spn>
                            </a>
                        </div>
                        <ul [hidden]="!day.expanded">
                            <li *ngFor="let duty of day.dutys">
                                <span>{{duty.coworker.name}} - {{duty.workType.name}}</span>
                                <a [hidden]="!canEdit" [routerLink]="['/editDuty', projectId, duty.id]">
                                    <spn class="label label-primary">
                                        <spn class="octicon octicon-pencil"></spn>
                                    </spn>
                                </a>
                                <a [hidden]="!canEdit" (click)="deleteDuty(duty.id)" href="javascript:;">
                                    <spn class="label label-danger">
                                        <spn class="octicon octicon-x"></spn>
                                    </spn>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

</div>
