<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">{{deleteText}}</h4>
      </div>
      <div class="modal-body">
          <p>{{deleteText2}}</p>
      </div>
      <div class="modal-footer">
        <button (click)="deleteFunc()" id="deleteBtn" type="button" data-dismiss="modal" class="btn btn-danger">Slet</button>
      </div>
    </div>
  </div>
</div>


<div class="row-fluid">
    <div class="tree">
        <div class="topcorner">
            <a [hidden]="!canEdit" [routerLink]="['/editWeek', projectId, 0]">
                <div class="label label-success">
                    <span class="mega-octicon octicon-plus"></span>
                </div>
            </a>
            <div class="label label-primary" (click)="print()">
                <span class="mega-octicon octicon-checklist"></span>
            </div>
        </div>
        <ul>
            <li *ngFor="let week of weeks">
                <span (click)="userExpandWeek(week.id)" class="sp label label-default"><i class="octicon octicon-calendar"></i> {{week.year}}, uge {{week.weekNo}}</span>
                <div [hidden]="!canEdit">
                    <a [routerLink]="['/addDutyWeek', projectId, week.id]">
                        <spn class="label label-success">
                            <spn class="octicon octicon-plus"></spn>
                        </spn>
                    </a>
                    <a [routerLink]="['/editWeek', projectId, week.id]">
                        <spn class="label label-primary">
                            <spn class="octicon octicon-pencil"></spn>
                        </spn>
                    </a>
                    <a (click)="changeModalWeek(week.id)" data-toggle="modal" data-target="#myModal" href="javascript:;">
                        <spn class="label label-danger">
                            <spn class="octicon octicon-x"></spn>
                        </spn>
                    </a>
                </div>
                <div (click)="togleMark(week.id)" >
                    <input type="checkbox" [checked]="week.marked" />
                </div>
                <ul [hidden]="!week.expanded">
                    <li *ngFor="let day of week.days">
                        <span (click)="userExpandDay(day.id)" class="label sp label-{{day.color()}}"><i [hidden]="day.expanded" class="octicon octicon-plus" ></i> <i [hidden]="!day.expanded" class="octicon octicon-dash"></i> {{day.weekDay}}, {{day.date}}</span>
                        <div>
                            <a [hidden]="!canEdit" [routerLink]="['/addDuty', projectId, day.id]">
                                <spn class="label label-success">
                                    <spn class="octicon octicon-plus"></spn>
                                </spn>
                            </a>
                        </div>
                        <ul [hidden]="!day.expanded">
                            <li *ngFor="let duty of day.dutys">
                                <span [style.color]="'#' + '000'" [style.background]="'#' + duty.location.color" class="label label-info">{{duty.coworker.name}} - {{duty.location.name}} - {{duty.workType.name}}</span>
                                <a [hidden]="!canEdit" [routerLink]="['/editDuty', projectId, duty.id]">
                                    <spn class="label label-primary">
                                        <spn class="octicon octicon-pencil"></spn>
                                    </spn>
                                </a>
                                <a [hidden]="!canEdit" (click)="changeModalDuty(week.id, day.id, duty.id)" data-toggle="modal" data-target="#myModal" href="javascript:;">
                                    <spn class="label label-danger">
                                        <spn class="octicon octicon-x"></spn>
                                    </spn>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

</div>
