@(title: String, activeName: String, lst:Seq[(String, String)])(content: Html)

@main(title) {
    <br/>
    <div class="container">
        @menu(activeName, lst)
        <br/>
        <div class="jumbotron">
            @content
        </div>
    </div>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>    <script src="https://npmcdn.com/zone.js@{"@"}0.6.12?main=browser"></script>
}
