@(title:String, weeks:Seq[Week], person:Seq[Coworker], projectDays: Seq[Day])

@main(title) {
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/print.css")">
  @weeks.sortBy( (w) => (w.year, w.weekNo) ).map((x) =>
    <table class="table" style="border: 1px solid black">
      <thead>
        <tr>
          <th>Uge {x.weekNo}</th>
          { x.days.map( (x) => <th> { x.dayOfWeek } </th> ) }
          <th>Timer</th>
          <th>timer i alt</th>
          <th>Norm</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Dato:</th>
          { x.days.map( (x) => <td> { x.date() } </td> ) }
          <td>  </td>
          <td>  </td>
          <td>  </td>
        </tr>
      { person.map( (p) => {
      <tr>
        <th>{p.name}</th>
        { x.days.map( (d) =>
        <td>
            { p.statusForDay(d).map(x =>
            <span style={ "background-color:" + x._2 }>{x._1}</span>
        ) }
        </td> ) }
      <td>{
          p.workTimeForWeek(x)
      }</td>
      <td>{ p.calcTimeToDate(x.days(6), x, projectDays).toString.take(5) } </td>

      <td> {
          p.norm(x, projectDays)
      } </td>
      </tr>
      } ) }
      </tbody>
    </table>
  <br/>
  )
}
