@(appName: String)

@main(appName + ": Login") {
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/signin.css")">
<script src="@routes.Assets.at("javascripts/signin.js")"></script>
<!-- LOGIN FORM -->
<div class="container">
    	<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-login">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-6">
								<a href="#" class="active" id="login-form-link">Login</a>
							</div>
							<div class="col-xs-6">
								<a href="#" id="register-form-link">Register</a>
							</div>
						</div>
						<hr>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<form id="login-form" role="form" style="display: block;">
									<div class="form-group">
										<input type="text" name="username" id="username" tabindex="1" class="form-control" placeholder="Brugernavn" value="">
									</div>
									<div class="form-group">
										<input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Kode">
									</div>
                                        <div id="errorLogin" class="alert alert-danger" role="alert" hidden></div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="button" name="login-submit" onclick="signin()" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-lg-12">
												<div class="text-center">
													@*<a href="#" tabindex="5" class="forgot-password">Glemt kode?</a>*@
													@*TODO forgot password.*@
												</div>
											</div>
										</div>
									</div>
								</form>
								<form id="register-form" method="post" role="form" style="display: none;">
									<div class="form-group">
										<input type="text" name="username" id="usernameReg" tabindex="1" class="form-control" placeholder="Brugernavn" value="">
									</div>
									<div class="form-group">
										<input type="email" name="email" id="emailReg" tabindex="1" class="form-control" placeholder="Email Adresse" value="">
									</div>
									<div class="form-group">
										<input type="password" name="password" id="passwordReg" tabindex="2" class="form-control" placeholder="Kode">
									</div>
									<div class="form-group">
										<input type="password" name="confirm-password" id="confirmPasswordReg" tabindex="2" class="form-control" placeholder="Bekræft Kode">
									</div>
									<div id="errorReg" class="alert alert-danger" role="alert" hidden></div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="button" name="registerSubmit" onclick="register()" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Nu">
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    <form method="post" action="/register" name="dummyFormReg" id="dummyFormReg">
		<input type="hidden" value="" id="dummyUsernameReg" name="username">
		<input type="hidden" value="" id="dummyPasswordReg" name="password">
		<input type="hidden" value="" id="dummyEmailReg" name="email">
	</form>
	<form method="post" action="/authenticate" name="dummyForm" id="dummyForm">
		<input type="hidden" value="" id="dummyUsername" name="username">
		<input type="hidden" value="" id="dummyPassword" name="password">
	</form>

}